<%- include("partials/header") -%> <%
for(i=0;i<posts.length;i++){ %>
  <section class="blog-section">
    <div class="container-fluid blog-banner">
      <div
        class="blog-bg"
        style="
          background: url(<%= posts[i].blogBanner %>);
          background-size: cover;
          background-position-y: 30%;
        "
      >
        <div class="blog-type">
          <h6><%= posts[i].blogCategory %></h6>
        </div>
      </div>
      <div class="blog-content">
        <h2><%= posts[i].blogTitle %></h2>
        <p class="blogtxt"><%= posts[i].blogContent.substring(0,200)+"..." %></p>
        <br />
        <a
          class="hvr-underline-from-center"
          href="/posts/<%= posts[i]._id %>"
          >Keep Reading</a>
        <br /><br /><br />
        <hr />
        <p>
          <span class="author"
            >By <strong><%= posts[i].authorName %></strong></span
          >
          <span class="date"><%= posts[i].blogDate %></span>
        </p>
      </div>
    </div>
  </section>
<% } %>

<%- include("partials/footer") -%>
