<%- include("partials/header") -%>
<script>
    const IMG_NAME = "<%= imgName %>";
</script>
<section class="compose">
    <div class="compose-title">
        <div class="compose-heading">
            <hr>
            <p>Write a blog</p>
            <hr>
        </div>
    </div>

    <form class="blog-panel" action="/compose" method="POST">
        <div class="form-group">
            <label for="select">Select a suitable Category for your Post</label>
            <select class="form-control" name="category" id="">
                <% for(let j=0; j<categories.length; j++){ %> 
                <option value="<%= categories[j].category %>"><%= categories[j].category %></option>
                <% } %> 
            </select>
        </div>
        <!-- <div class="form-group">
            <label for="img">Select an image to Post</label>
            <input id="photo" name="img" class="choose-file" type="file" enctype="multipart/form-data" required>
            <p style="font-size: 0.8rem" class="text-muted">Please choose a landscape image as it will be auto-resized.
            </p>
            <button onclick="uploadImage()">Upload</button>
        </div> -->
        <div class="form-group">
            <input name="author" class="form-control" type="text" placeholder="Enter Your Name" required>
        </div>
        <div class="form-group">
            <input name="title" class="form-control" maxlength="100" type="text"
                placeholder="Enter the Title of your Post" required>
        </div>
        <div class="form-group">
            <input name="description" class="form-control" type="text" placeholder="Enter the Description of your Post">
        </div>

        <div class="form-group">
            <textarea required placeholder="Your Post Content" class="form-control" name="content" id="" cols="30"
                rows="8"></textarea>
        </div>
        <button type="submit">Publish</button>
    </form>
</section>

<%- include("partials/footer") -%>