<%- include("partials/header") -%>
<!-- 
<section class="category-section">
  <div class="row no-gutters">
    <% for(let i=0; i<categories.length && i<4; i++){ %> 
    <div class="col-lg-3 category-outer">
      <a href="/categories/<%= categories[i].category %>">
        <div class="category-inner">
          <div class="category-shade">
            <h6><%= categories[i].category %></h6>
          </div>
        </div>
      </a>
    </div>
    <% } %> 
  </div>
</section> -->
 
<% for(let i=0; i<posts.length; i++){ %> 
  <section class="blog-section">
  <div class="container-fluid blog-banner">
    <div class="blog-bg" style="
          background: url(<%= posts[i].blogBanner %>);
          background-size: cover;
          background-position-y: 30%;
        ">
      <div class="blog-type">
        <h6><%= posts[i].blogCategory %></h6>
      </div>
    </div>
    <div class="blog-content">
      <h2><%= posts[i].blogTitle %></h2>
      <p class="blogtxt">
        <%= posts[i].blogContent.substring(0,200)+"..." %> 
      </p>
      <br />
      <a class="hvr-underline-from-center" href="/posts/<%= posts[i]._id %>" >Keep Reading</a>
      <br /><br /><br />
      <hr />
      <p>
        <span class="author">By <strong><%= posts[i].authorName %> </strong></span>
        <span class="date"><%= posts[i].blogDate %></span>
      </p>
    </div>
  </div>
</section>
<% } %>


<%- include("partials/footer") -%>
