<%- include("partials/header-physics") -%> <%
for(i=0;i<physicsPosts.length;i++){ %>
  <section class="blog-section">
    <div class="container-fluid blog-banner">
      <div
        class="blog-bg"
        style="
          background: url(../uploads/<%=physicsPosts[i].blogImage.filename%>);
          background-size: cover;
          background-position-y: 30%;
        "
      >
        <div class="blog-type">
          <h6><%= physicsPosts[i].blogCategory %></h6>
        </div>
      </div>
      <div class="blog-content">
        <h2><%= physicsPosts[i].blogTitle %></h2>
        <p><%= physicsPosts[i].blogContent.substring(0,250)+"....." %></p>
        <br />
        <a
          class="hvr-underline-from-center"
          href="/posts/<%= physicsPosts[i].blogTitle %>"
          >Keep Reading</a
        >
        <br /><br /><br />
        <hr />
        <p>
          <span class="author"
            >By <strong><%= physicsPosts[i].authorName %></strong></span
          >
          <span class="date"><%= physicsPosts[i].blogDate %></span>
        </p>
      </div>
    </div>
  </section>
  <% } %>

  <section class="blog-section">
    <div class="container-fluid blog-banner">
      <div
        class="blog-bg"
        style="
          background: url(../Assets/space.png);
          background-size: cover;
          background-position-y: 30%;
        "
      >
        <div class="blog-type">
          <h6>Physics</h6>
        </div>
      </div>
      <div class="blog-content">
        <h2>How Gravity affects Time?</h2>
        <p>
          Issac newton presumed that time was fixed, space was fixed and gravity
          was a mysterious force that can act between two objects, these objects
          not even touching each other. So he presumed that gravity can’t affect
          the space and time but acts within ......
        </p>
        <br />
        <a class="hvr-underline-from-center" href="/default/space"
          >Keep Reading</a
        >
        <br /><br /><br />
        <hr />
        <p>
          <span class="author">By <strong>Aman Malviya</strong></span>
          <span class="date">August 10, 2020</span>
        </p>
      </div>
    </div>
  </section>

  <section class="blog-section">
    <div class="container-fluid blog-banner">
      <div
        class="blog-bg"
        style="
          background: url(../Assets/button.jpg);
          background-size: cover;
          background-position-y: 30%;
        "
      >
        <div class="blog-type">
          <h6>Physics</h6>
        </div>
      </div>
      <div class="blog-content">
        <h2>
          A set is a member of itself if and only if it is not the member of
          itself??
        </h2>
        <p>
          Yes, here’s the contradiction. According to naive set theory, any
          definable collection is a set. Consider a set R. If this set R is not
          the member of itself then according to its definition, it must contain
          itself. But if it contains itself then how ......
        </p>
        <br />
        <a class="hvr-underline-from-center" href="/default/russel"
          >Keep Reading</a
        >
        <br /><br /><br />
        <hr />
        <p>
          <span class="author">By <strong>Aman Malviya</strong></span>
          <span class="date">July 23, 2020</span>
        </p>
      </div>
    </div>
  </section>

  <%- include("partials/footer") -%>
</physicsPosts.length;i++){>
